<html>
    <title>Aloha Snackbar</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="HomePageRules.css" rel="stylesheet">
</head>
        <div>
            <p style="color: whitesmoke">Gestures</p>
        </div>
<div>
    <table style="width: 100%">
        <tr>
        <td  style="color: whitesmoke">Wave <div><img src="wave.gif" alt = "Its a Trap!" style="width:20%;height:20%"></div></td>
        <td style="color: whitesmoke">Opening Hand<div><img src="open hand.jpg" alt = "Its a Trap!" style="width:20%;height:20%"></div></td>
        <td style="color: whitesmoke">Closing Hand<div><img src="Closed Hand.jpg" alt = "Its a Trap!" style="width:35%;height:35%"></div></td>
        <td style="color: whitesmoke">Nixon<div><img src="Nixon.jpg" alt = "Its a Trap!" style="width:20%;height:20%"></div></td>
        <td style="color: whitesmoke">Peace Sign<div><img src="peace.png" alt = "Its a Trap!" style="width:20%;height:20%"></div></td>
        </tr>
        <tr>
        <td style="color: whitesmoke">Smile<div><img src="smile.jpg" alt = "Its a Trap!" style="width:35%;height:35%"></div></td>
        <td style="color: whitesmoke">Laughing<div><img src="laughing.jpg" alt = "Its a Trap!" style="width:20%;height:20%"></div></td>
        <td style="color: whitesmoke">Default<div><img src="looking away.jpg" alt = "Its a Trap!" style="width:20%;height:20%"></div></td>
        <td style="color: whitesmoke">Blink the left eye, then the right</td>
        <td style="color: whitesmoke">Blink the right eye, then the left</td>
        </tr>
    </table>
</div>
    </body>
</html>
