<html>
    <title>Gesture Controls</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="C:\Users\samryk\Documents\kinect-iot\public\stylesheets\HomePageRules.css" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>
        <script type="text/javascript" src="C:/Users/samryk/Documents/kinect-iot/public/javascripts/fillTable.js"></script>
</head>
<p></p>
        <div>
            <p>Gestures</p>
        </div>
<div>
    <table class="a">
        <tr>
        <td>Wave <div><img src="C:\Users\samryk\Documents\kinect-iot\public\images\wave.gif" alt="its a trap"></div></td>
        <td>Opening Hand<div><img src="C:\Users\samryk\Documents\kinect-iot\public\images\open hand.jpg" alt="its a trap"></div></td>
        <td>Closing Hand<div><img class="large" src="C:\Users\samryk\Documents\kinect-iot\public\images\Closed Hand.jpg" alt="its a trap"></div></td>
        <td>Nixon<div><img src="C:\Users\samryk\Documents\kinect-iot\public\images\Nixon.jpg" alt="its a trap"></div></td>
        <td>Peace Sign<div><img src="C:\Users\samryk\Documents\kinect-iot\public\images\peace.png" alt="its a trap"></div></td>
        </tr>
        <tr>
        <td>Smile<div><img class="large" src="C:\Users\samryk\Documents\kinect-iot\public\images\smile.jpg" alt="its a trap"></div></td>
        <td>Laughing<div><img src="C:\Users\samryk\Documents\kinect-iot\public\images\laughing.jpg" alt="its a trap"></div></td>
        <td>Default<div><img src="C:\Users\samryk\Documents\kinect-iot\public\images\looking away.jpg" alt="its a trap"></div></td>
        <td>Blink the left eye, then the right</td>
        <td>Blink the right eye, then the left</td>
        </tr>
    </table>
</div>
<p></p>
<p></p>
<div>
    <script type="text/javascript">
    /*var table = document.createElement('table');

    var tr = document.createElement('tr');   

    var td1 = document.createElement('td');

    var text1 = document.createTextNode();

    td1.appendChild(text1);
    tr.appendChild(td1);

    table.appendChild(tr);
document.body.appendChild(table);
   */
    </script>
</div>
<div id="dataTable">
  
  </div>
    </body>
</html>
