<html>
    <title>Gesture Controls</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/stylesheets/HomePageRules.css" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>
        <script type="text/javascript" src="/javascripts/fillTable.js"></script>
</head>
<body>
<p></p>
        <div>
            <p>Gestures</p>
        </div>
<div>
    <table class="a">
        <tr>
        <td>Wave <div><img src="/images/wave.gif" alt="its a trap"></div></td>
        <td>Opening Hand<div><img src="/images/open hand.jpg" alt="its a trap"></div></td>
        <td>Closing Hand<div><img class="large" src="/images/Closed Hand.jpg" alt="its a trap"></div></td>
        <td>Nixon<div><img src="/images/Nixon.jpg" alt="its a trap"></div></td>
        <td>Peace Sign<div><img src="/images/peace.png" alt="its a trap"></div></td>
        </tr>
        <tr>
        <td>Smile<div><img class="large" src="/images/smile.jpg" alt="its a trap"></div></td>
        <td>Laughing<div><img src="/images/laughing.jpg" alt="its a trap"></div></td>
        <td>Default<div><img src="/images/looking away.jpg" alt="its a trap"></div></td>
        <td>Blink the left eye, then the right</td>
        <td>Blink the right eye, then the left</td>
        </tr>
    </table>
    <table id="myTable">
    </table>
</div>
</body>
</html>
