html {
    overflow: hidden;
    background-color: cornflowerblue;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Veranda;
    font-size: 36px;
    color: darkgoldenrod;
    z-index: 3;
}
p1
{
    font-size: 12px;
}
p {
    font-family: Veranda;
    font-size: 48px;
    color: white;
    text-align:center;
    font-weight: bold;
    margin: 0;
    padding-bottom: 3%;
}

table {
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: separate;
    border-spacing: 0;
    }

tr, td {
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: solid white 3px;
    color: whitesmoke;
}



 .a tr:first-child td:first-child
{
    border-top-left-radius: 30%
}
.a tr:last-child td:first-child
{
    border-bottom-left-radius: 30%
}

.a tr:first-child td:last-child
{
    border-top-right-radius: 30%
}

.a tr:last-child td:last-child
{
    border-bottom-right-radius: 30%
}

img {
    width: 20%;
    height: 20%;
}

img.large {
    width: 35%;
    height: 35%;
}
